@use 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@mixin padding {
  border-radius: .5rem;
  padding: 0.5rem .75rem;
}

body {
  background-color: black;
  color: white;
}

button {
  &.submit {
    border: 2px solid rgb(234, 234, 234);
    @include padding;
  }
}

input {
  @include padding;
  border: 2px solid rgb(234, 234, 234);
  width: 20rem;
}


h1, h2 {
  font-family: "Michroma", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.material-symbols-outlined { 
  font-size: 40px;

  &.small {
    font-size: 20px;
  }
}

#header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 3rem 0 3rem;
  color: white;
  background: #322a9b;
  background: radial-gradient(circle,rgba(50, 42, 155, 1) 0%, rgba(83, 196, 237, 1) 100%);
}

#word-list {
  width: 18rem;
  padding-left: 2.5rem;
}

.correct-guess {
  animation: 1s anim-lineUp forwards;
  animation-iteration-count: 1;
  color: green;
}

.game-over {
  animation: 1s nofade forwards;
  animation-iteration-count: 1;
  color: rgb(255, 120, 120);
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}

@keyframes nofade {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}